*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
	max-width: 100%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.debug> header{
    min-height: 50px;
    padding: 20px;
    background-color: lightskyblue; 
}

.debug .row-3>.col{
    background-color: darkgoldenrod;
    border: 2px dashed black;
}


.row{
    display:flex
}

.row-3>.col{
    flex-basis: calc(100% / 5);
}

.row-3 >.col-60{
    flex-basis: 60%;
    text-align: center;
}

.row-3 .col:last-child{
    text-align: right;
}

.little-container{
    max-width: 800px;
    margin: 0 auto;    
}

.debug .first{
    background-color: blue;
    min-height: 200px;
    padding: 10px;
}

.debug .row-first>.col{
    background-color: palevioletred;
    min-height: 200px;
    border: 2px dashed black;
}

.row-first>.col{
    flex-basis: 100%;
}