*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
	max-width: 100%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.debug> header{
    min-height: 50px;
    background-color: lightskyblue; 
}

.debug .row-3>.col{
    background-color: darkgoldenrod;
    border: 2px dashed black;
}


.row{
    display:flex
}

.row-3>.col{
    flex-basis: calc(100% / 5);
}

.row-3 >.col-60{
    flex-basis: 60%;
    text-align: center;
}

.row-3 .col:last-child{
    text-align: right;
}

/* style primo contenitore*/
.little-container{
    max-width: 800px;
    margin: 0 auto;    
}

.debug .first{
    background-color: blue;
    min-height: 150px;
    padding: 20px;
}

.debug .row-first>.col{
    background-color: palevioletred;
    min-height: 150px;
    border: 2px dashed black;
}

.row-first>.col{
    flex-basis: 100%;
}

/*stile secondo, terzo, quarto contenitore*/
.debug .row-2>.col{
    border: 2px dashed black;
    min-height: 300px;
}

.debug .row-2>.col-60{
    background-color: rgb(59, 164, 230);
}

.debug .row-2>.col-40{
    background-color: pink;
}

.debug section>.terzo{
    background-color: lightgray;
}

.row-2>.col-60{
    flex-basis: 60%;
}

.row-2>.col-40{
    flex-basis: 40%;
}

.row-2.reverse{
    flex-direction: row-reverse;
}

/*quinto contenitore*/

.debug .container.green .col{
    background-color: green;
    min-height: 500px;
}